/* Loader animations and objects */

#loader {
	/* Position */
	position: fixed; /* Make sure user can't scroll away from the loading page */
	top:0;			 /* Make sure that the screen is completely covered while loading */
	left:0;
	bottom:0;
	right:0;
	width: 100%;
	height: 100%;

	/* Shape and look */
	background-color: black;
	color: white;

	/* Animation */
	transition: opacity 2s;

	pointer-events: none;
}

.fish {
	/* Position */
	position: fixed;

	/* Shape and look */
	width: 20px;
	height:20px;
	border-radius: 50px;

	/* Animation */
	transition: top 2s, left 2s, background-color 2s, opacity 2s;
}