/* PC responsive stylesheet */

#debug {
	background-color: blue;
}

#contact {
	padding-right: 20px;
}

#extra {
	padding-left: 20px;
}

div#bottom div {
	width: calc(50% - 40px);
	display:inline-block;
	float:left;
}

#bottom::after {
 	content: " ";
   	display: block; 
   	height: 0; 
   	clear: both;
}
