/* Main style for mobile and PC */

body {
	background-image: url("imgs/background.png"); /*need to change to jpg */
	text-align: center;
	/* filter:blur(); /* for blur parralax effect with JavaScript when implemented*/
}

#debug { /* Debug DOM element for recognising between mobi.css and pc.css */
	position: absolute;
	top:0;
	left:0;
	width: 20px;
	height:20px;
	background-color: white; /* white to see if the other css files cascade over */
}