/* Main style for mobile and PC */

/*Syntax for all:

#element {
	/* Position *//*
	/* Shape and look *//*
	/* Animation *//*
}

*/

body {
	/* Shape and look  */
	background-image: url("imgs/body_background.jpg"); 
	background-size: cover;
	background-position: bottom;
	text-align: center;

	padding: 3%;
}

#popOutWrapper {
	display: table;
	margin: 0 auto;
}

#popOut{
	/* Position */
	position: relative;
  	justify-content: center;

	/* Look */
	background-color: white;
	background-size: contain;
	border: 1px solid #222;
	overflow: hidden;

	/* Shape */
	border-radius: 15px;
	align-self: center;
}


#mainWrapper {
	/* Shape and look 
	background-image: url("imgs/background_jpg.jpg");
	background-size: cover; */
	
	border-radius: 5px;
	border: 1px solid #222;

	margin:30px;
	padding:30px;
}

#debug { /* Debug DOM element for recognising between mobi.css and pc.css */
	/* Position */
	position: absolute;
	top:0;
	left:0;

	/* Shape and look */
	width: 20px;
	height:20px;
	background-color: white; /* white to see if the other css files cascade over */
}

#bottom {
	border-top: 1px solid #aaa;
}

div#bottom div.spanWrapper {
	border: none;
}

div.spanWrapper {
	/* Position */
	text-align: left;

	/* Shape and look */
	border-top: 1px solid #aaa;
}

div.spanWrapper h1 {
	/* Position */
	text-align: center;
}

form {
	text-align: center;
	justify-content: center;
}

form h4 {
	text-align: left;
}

form input, form textarea {
	width: 100%;
	box-sizing: border-box;
}