@font-face {
	font-family: "Gravity Book";
	src: url("Gravity-Book.otf");
}

@font-face {
	font-family: "Gotham Black";
	src: url("GOTHAM-BLACK.TTF");
}

@font-face {
	font-family: "Gotham Black Italic";
	src: url("GOTHAM-BLACKITALIC.TTF");
}